:root {
    --color-separador: #605c5c;
    --color-border-caja: #797777;
    --color-price: #AC78F4;
    --bg-boton: #6e35bf;
    --color-menu: #b9b8b8;
    --color-header: #8e8d8d;
    --redes-sociales: #333;
    --color-negro: #000;
    --blanco: #fff;
    --gris: #e0e0e0;
    /* PALETA 1 */
    --color1: #41436a;
    --color2: #974063;
    --color3: #f13255;
    --color4: #ff9677;
}

.content__carteras {
    padding: 3em 2em 5em;
    display: grid;
    grid-template-areas:
        "caja1 caja2 caja2"
        "caja1 caja2 caja2";
}

.caja1 {
    grid-area: caja1;
    width: 90%;
}

.caja2 {
    grid-area: caja2;
}

.caja1__title {
    font-size: 1.2em;
    margin: 0 0 1.1em 0;
}

.categorias {
    display: flex;
    flex-direction: column;
}

.categorias::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: relative;
    left: 0;
    bottom: 0;
    margin: 2.1em 0;
    background-color: var(--color-separador);
}

.categorias__title,
.color__title {
    margin: 0 0 1em 0;
}

.categorias__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
}

.color {
    width: 100%;
}

.color__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.color__select {
    display: flex;
    align-items: center;
    gap: 1em;
}

.color__filter {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.amarillo {
    background-color: #FAFF07;
}

.blue {
    background-color: #325DF2;
}

.red {
    background-color: #df0606;
}

.beig {
    background-color: #FED78C;
}

.white {
    background-color: #fff;
    border: 1px solid;
}

.orange {
    background-color: #FF4016;
}

.categorias__link {
    color: #000;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__navegacion {
    padding: 0;
}

.menu__navegacion__link,
.menu__navegacion__name,
.ordenar__label {
    font-size: .8em;
}

.menu__navegacion__link::after {
    content: "/";
    display: inline-block;
    position: relative;
    padding: 0 .3em;
}

.menu__navegacion__link:hover {
    color: var(--color3);
    transition: color .3s;
}

.menu__navegacion__name {
    font-weight: 700;
}

.ordenar__select {
    margin: 0 0 0 1em;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-border-caja);
    cursor: pointer;
}

.ordenar__option {
    font-size: .9em;
}

.container__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 1em;
}

.card__product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4em;
}

.product__show {
    width: 220px;
    height: 220px;
}

.product__price {
    color: var(--color-price);
    font-weight: 500;
}

.product__ver {
    padding: .8em 2em;
    background-color: var(--blanco);
    color: var(--bg-boton);
}

.product__ver:hover {
    font-weight: 700;
    transition: font-weight .3s;
}

@media (min-width: 375px) {
    .main {
    margin: 9em 0 0 0;
}
    .content__carteras {
        display: grid;
        grid-template-areas:
            "manu menu"
            "caja2 caja2"
            "caja2 caja2";
        padding: 6em 0;
        margin: 0;
    }

    .carteras__menu {
        grid-area: menu;
        grid-column: 1/2;
        cursor: pointer;
        width: auto;
        height: auto;
        padding: 0 .5em;
    }

    .caja1 {
        grid-area: caja1;
        width: 100%;
        max-width: 240px;
        position: fixed;
        top: 30em;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 1;
        background-color: var(--color-menu);
        padding: 1em;
        transition: transform .3s;
        transform: translateX(-110%);
    }
    .caja2 {
    grid-area: caja2;
    padding: 1em;
    max-width: 375px;
    width: auto;
    margin: 0 auto;
}
    .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

    .menu__caja1--show{
        transform: unset;
        width: 100%;
        border-radius: 0 4px 0 4px;
    }

    .caja1__title {
        font-size: 1rem;
        margin: 0 0 1.1em 0;
    }

    .categorias {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .categorias__title,
    .color__title {
        margin: 0 0 1em 0;
        font-size: .9rem;
    }

    .color {
        width: 100%;
        padding: 0;
    }

    .categorias__link {
        color: #000;
        font-size: .8rem;
    }

    .categorias::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: relative;
        left: 0;
        bottom: 0;
        margin: 2.1em 0;
        background-color: var(--color-separador);
    }

    .color__title {
        margin: 0 0 1em 0;
    }

    .color__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1em;
    }

    .color__select {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .color__filter {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .menu__navegacion__link,
    .menu__navegacion__name,
    .ordenar__label {
        font-size: .8rem;
    }

    .container__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: max-content;
        gap: 1em;
        max-width: 425px;
        margin: 0 auto;
    }

    .card__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4em;
        width: 90%;
        height: 100%;
    }

    .product__show {
        width: 170px;
        height: 220px;
    }

    .product__title {
        font-size: 1.1rem;
    }

    .product__price {
        color: var(--color-price);
        font-weight: 500;
        font-size: .9rem;
        padding: 0.5em 0;
    }

    .product__ver {
        padding: 0.8em 1em;
        background-color: var(--blanco);
        color: var(--bg-boton);
        font-size: .9rem;
    }

    .button__span:nth-child(1) {
        width: 100%;
        height: 1px;
        top: 0;
        left: -100%;
    }

    .button__span:nth-child(2) {
        width: 100%;
        height: 1px;
        bottom: 0;
        right: -100%;
    }

    .button__span:nth-child(3) {
        width: 1px;
        height: 100%;
        left: 0;
        bottom: -100%;
    }

    .button__span:nth-child(4) {
        width: 1px;
        height: 100%;
        top: -100%;
        right: 0;
    }

    .paginacion-productos {
        margin-top: 7em;
        width: 100%;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        font-size: 1rem;
    }

    .paginacion-ul>li {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #000000;
        background-color: #fff;
    }

    .paginacion-ul>li.paginacion-li-active,
    .paginacion-ul>li.paginacion-li-active a {
        background-color: var(--bg-boton);
        color: #FFFFFF;
        max-width: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: .9rem;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        max-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-solid,
    .fas {
        font-weight: 900;
        font-size: 1rem;
    }

    .ordenar__select {
        margin: 0;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-border-caja);
        cursor: pointer;
        font-size: .8rem;
        width: auto;
    }

    .ordenar__option {
        font-size: .6rem;
    }
}

@media (min-width: 300px) {
    .main {
    margin: 9em 0 0 0;
}
    .content__carteras {
        display: grid;
        grid-template-areas:
            "manu menu"
            "caja2 caja2"
            "caja2 caja2";
        padding: 6em 0 3em;
        margin: 0;
        /* width: auto; */
    }

    .carteras__menu {
        grid-area: menu;
        grid-column: 1/3;
        cursor: pointer;
        width: auto;
    }

    .caja1 {
        grid-area: caja1;
        width: 100%;
        max-width: 240px;
        position: fixed;
        top: 25em;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 1;
        background-color: var(--color-menu);
        padding: 1em;
        transition: transform .3s;
        transform: translateX(-110%);
    }
    .caja2 {
    grid-area: caja2;
    padding: 0em 0;
    max-width: 425px;
    width: 100%;
}
    .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

    .menu__caja1--show{
        transform: unset;
        width: 100%;
        border-radius: 0 4px 0 4px;
    }

    .caja1__title {
        font-size: 1rem;
        margin: 0 0 1.1em 0;
    }

    .categorias {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .categorias__title,
    .color__title {
        margin: 0 0 1em 0;
        font-size: .9rem;
    }

    .color {
        width: 100%;
        padding: 0;
    }

    .categorias__link {
        color: #000;
        font-size: .8rem;
    }

    .categorias::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: relative;
        left: 0;
        bottom: 0;
        margin: 2.1em 0;
        background-color: var(--color-separador);
    }

    .color__title {
        margin: 0 0 1em 0;
    }

    .color__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1em;
    }

    .color__select {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .color__filter {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .menu__navegacion__link,
    .menu__navegacion__name,
    .ordenar__label {
        font-size: .7rem;
    }

    .container__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        gap: 0em;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .card__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4em;
        width: auto;
        height: 100%;
    }

    .product__show {
        width: 120px;
        height: 135px;
    }

    .product__title {
        font-size: 1rem;
    }

    .product__price {
        color: var(--color-price);
        font-weight: 500;
        font-size: .9rem;
        padding: 0.5em 0;
    }

    .product__ver {
        padding: 0.8em 2em;
        background-color: var(--blanco);
        color: var(--bg-boton);
        font-size: .9rem;
    }

    .button__span:nth-child(1) {
        width: 100%;
        height: 1px;
        top: 0;
        left: -100%;
    }

    .button__span:nth-child(2) {
        width: 100%;
        height: 1px;
        bottom: 0;
        right: -100%;
    }

    .button__span:nth-child(3) {
        width: 1px;
        height: 100%;
        left: 0;
        bottom: -100%;
    }

    .button__span:nth-child(4) {
        width: 1px;
        height: 100%;
        top: -100%;
        right: 0;
    }

    .paginacion-productos {
        margin-top: 7em;
        width: 100%;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        font-size: 1rem;
    }

    .paginacion-ul>li {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #000000;
        background-color: #fff;
    }

    .paginacion-ul>li.paginacion-li-active,
    .paginacion-ul>li.paginacion-li-active a {
        background-color: var(--bg-boton);
        color: #FFFFFF;
        max-width: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: .9rem;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        max-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-solid,
    .fas {
        font-weight: 900;
        font-size: 1rem;
    }

    .ordenar__select {
        margin: 0;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-border-caja);
        cursor: pointer;
        font-size: .7rem;
        width: auto;
    }

    .ordenar__option {
        font-size: .6rem;
    }
}

@media (min-width: 425px) {
    .main {
    margin: 21em 0 0 0;
}
    .content__carteras {
        display: grid;
        grid-template-areas:
            "manu menu"
            "caja2 caja2"
            "caja2 caja2";
        padding: 1em 0 3em;
        margin: 0;
    }

    .carteras__menu {
        grid-area: menu;
        grid-column: 1/-1;
        cursor: pointer;
        width: auto;
    }

    .caja1 {
        grid-area: caja1;
        width: 100%;
        max-width: 240px;
        position: fixed;
        top: 27em;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 1;
        background-color: var(--color-menu);
        padding: 1em;
        transition: transform .3s;
        transform: translateX(-110%);
    }
    .caja2 {
    grid-area: caja2;
    padding: 1em 2em;
    max-width: 425px;
    width: 100%;
}
    .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

    .menu__caja1--show{
        transform: unset;
        width: 100%;
        border-radius: 0 4px 0 4px;
    }

    .caja1__title {
        font-size: 1rem;
        margin: 0 0 1.1em 0;
    }

    .categorias {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .categorias__title,
    .color__title {
        margin: 0 0 1em 0;
        font-size: .9rem;
    }

    .color {
        width: 100%;
        padding: 0;
    }

    .categorias__link {
        color: #000;
        font-size: .8rem;
    }

    .categorias::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: relative;
        left: 0;
        bottom: 0;
        margin: 2.1em 0;
        background-color: var(--color-separador);
    }

    .color__title {
        margin: 0 0 1em 0;
    }

    .color__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1em;
    }

    .color__select {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .color__filter {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .menu__navegacion__link,
    .menu__navegacion__name,
    .ordenar__label {
        font-size: .8rem;
    }

    .container__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: max-content;
        gap: 1em;
        max-width: 425px;
        margin: 0 auto;
    }

    .card__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4em;
        width: 90%;
        height: 100%;
    }

    .product__show {
        width: 185px;
        height: 220px;
    }

    .product__title {
        font-size: 1.2rem;
    }

    .product__price {
        color: var(--color-price);
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5em 0;
    }

    .product__ver {
        padding: 0.8em 2em;
        background-color: var(--blanco);
        color: var(--bg-boton);
        font-size: 1rem;
    }

    .button__span:nth-child(1) {
        width: 100%;
        height: 1px;
        top: 0;
        left: -100%;
    }

    .button__span:nth-child(2) {
        width: 100%;
        height: 1px;
        bottom: 0;
        right: -100%;
    }

    .button__span:nth-child(3) {
        width: 1px;
        height: 100%;
        left: 0;
        bottom: -100%;
    }

    .button__span:nth-child(4) {
        width: 1px;
        height: 100%;
        top: -100%;
        right: 0;
    }

    .paginacion-productos {
        margin-top: 7em;
        width: 100%;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        font-size: 1rem;
    }

    .paginacion-ul>li {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #000000;
        background-color: #fff;
    }

    .paginacion-ul>li.paginacion-li-active,
    .paginacion-ul>li.paginacion-li-active a {
        background-color: var(--bg-boton);
        color: #FFFFFF;
        max-width: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: .9rem;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        max-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-solid,
    .fas {
        font-weight: 900;
        font-size: 1rem;
    }

    .ordenar__select {
        margin: 0;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-border-caja);
        cursor: pointer;
        font-size: .8rem;
        width: auto;
    }

    .ordenar__option {
        font-size: .6rem;
    }
}

@media (min-width: 580px) {
    .main {
    margin: 24em 0 0 0;
}
    .content__carteras {
        display: grid;
        grid-template-areas:
            "manu menu"
            "caja2 caja2"
            "caja2 caja2 ";
        padding: 1em 1em 3em;
    }

    .carteras__menu {
        grid-area: menu;
        grid-column: 1/2;
        cursor: pointer;
        width: 40%;
    }

    .caja1 {
        grid-area: caja1;
        width: 100%;
        max-width: 240px;
        position: fixed;
        top: 28em;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 1;
        background-color: var(--color-menu);
        padding: 1em;
        transition: transform .3s;
        transform: translateX(-110%);
    }
    .caja2 {
    grid-area: caja2;
    padding: 1em;
    max-width: 580px;
}

    .menu__caja1--show{
        transform: unset;
        width: 100%;
        border-radius: 0 4px 0 4px;
    }

    .caja1__title {
        font-size: 1.2rem;
        margin: 0 0 1.1em 0;
    }

    .categorias {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .categorias__title,
    .color__title {
        margin: 0 0 1em 0;
        font-size: 1.1rem;
    }

    .color {
        width: 100%;
        padding: 0;
    }

    .categorias__link {
        color: #000;
        font-size: 1rem;
    }

    .categorias::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: relative;
        left: 0;
        bottom: 0;
        margin: 2.1em 0;
        background-color: var(--color-separador);
    }

    .color__title {
        margin: 0 0 1em 0;
    }

    .color__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1em;
    }

    .color__select {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .color__filter {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .menu__navegacion__link,
    .menu__navegacion__name,
    .ordenar__label {
        font-size: .8rem;
    }

    .container__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: max-content;
        gap: 1em;
        margin: 0;
        width: 0 auto;
    }

    .card__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4em;
        width: 100%;
        height: 100%;
    }

    .product__show {
        width: 250px;
        height: 300px;
    }

    .product__title {
        font-size: 1.2rem;
    }

    .product__price {
        color: var(--color-price);
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5em 0;
    }

    .product__ver {
        padding: 0.8em 2em;
        background-color: var(--blanco);
        color: var(--bg-boton);
        font-size: 1rem;
    }

    .button__span:nth-child(1) {
        width: 100%;
        height: 1px;
        top: 0;
        left: -100%;
    }

    .button__span:nth-child(2) {
        width: 100%;
        height: 1px;
        bottom: 0;
        right: -100%;
    }

    .button__span:nth-child(3) {
        width: 1px;
        height: 100%;
        left: 0;
        bottom: -100%;
    }

    .button__span:nth-child(4) {
        width: 1px;
        height: 100%;
        top: -100%;
        right: 0;
    }

    .paginacion-productos {
        margin-top: 7em;
        width: 100%;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        font-size: 1rem;
    }

    .paginacion-ul>li {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #000000;
        background-color: #fff;
    }

    .paginacion-ul>li.paginacion-li-active,
    .paginacion-ul>li.paginacion-li-active a {
        background-color: var(--bg-boton);
        color: #FFFFFF;
        max-width: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: .9rem;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        max-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-solid,
    .fas {
        font-weight: 900;
        font-size: 1rem;
    }

    .ordenar__select {
        margin: 0 0 0 1em;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-border-caja);
        cursor: pointer;
        font-size: .9rem;
    }

    .ordenar__option {
        font-size: 1rem;
    }
}

@media (min-width: 650px) {
    .main {
    margin: 21em 0 0 0;
}
    .content__carteras {
        display: grid;
        grid-template-areas:
            "manu menu menu"
            "caja2 caja2 caja2"
            "caja2 caja2 caja2";
        padding: 1em 1em;
    }

    .carteras__menu {
        grid-area: menu;
        grid-column: 1/2;
        cursor: pointer;
        width: 40%;
    }

    .caja1 {
        grid-area: caja1;
        width: 100%;
        max-width: 240px;
        position: fixed;
        top: 26em;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 1;
        background-color: var(--color-menu);
        padding: 1em;
        transition: transform .3s;
        transform: translateX(-110%);
    }
    .caja2 {
    grid-area: caja2;
    padding: 1em;
}

    .menu__caja1--show{
        transform: unset;
        width: 100%;
        border-radius: 0 4px 0 4px;
    }

    .caja1__title {
        font-size: 1.2rem;
        margin: 0 0 1.1em 0;
    }

    .categorias {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .categorias__title,
    .color__title {
        margin: 0 0 1em 0;
        font-size: 1.1rem;
    }

    .color {
        width: 100%;
        padding: 0;
    }

    .categorias__link {
        color: #000;
        font-size: 1rem;
    }

    .categorias::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: relative;
        left: 0;
        bottom: 0;
        margin: 2.1em 0;
        background-color: var(--color-separador);
    }

    .color__title {
        margin: 0 0 1em 0;
    }

    .color__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1em;
    }

    .color__select {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .color__filter {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .menu__navegacion__link,
    .menu__navegacion__name,
    .ordenar__label {
        font-size: .8rem;
    }

    .container__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: max-content;
        gap: 1em;
    }

    .card__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4em;
        width: 100%;
        height: 100%;
    }

    .product__show {
        width: 250px;
        height: 300px;
    }

    .product__title {
        font-size: 1.2rem;
    }

    .product__price {
        color: var(--color-price);
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5em 0;
    }

    .product__ver {
        padding: 0.8em 2em;
        background-color: var(--blanco);
        color: var(--bg-boton);
        font-size: 1rem;
    }

    .button__span:nth-child(1) {
        width: 100%;
        height: 1px;
        top: 0;
        left: -100%;
    }

    .button__span:nth-child(2) {
        width: 100%;
        height: 1px;
        bottom: 0;
        right: -100%;
    }

    .button__span:nth-child(3) {
        width: 1px;
        height: 100%;
        left: 0;
        bottom: -100%;
    }

    .button__span:nth-child(4) {
        width: 1px;
        height: 100%;
        top: -100%;
        right: 0;
    }

    .paginacion-productos {
        margin-top: 7em;
        width: 100%;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        font-size: 1rem;
    }

    .paginacion-ul>li {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #000000;
        background-color: #fff;
    }

    .paginacion-ul>li.paginacion-li-active,
    .paginacion-ul>li.paginacion-li-active a {
        background-color: var(--bg-boton);
        color: #FFFFFF;
        max-width: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        /* font-size: 1rem; */
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        max-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-solid,
    .fas {
        font-weight: 900;
        font-size: 1rem;
    }

    .ordenar__select {
        margin: 0 0 0 1em;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-border-caja);
        cursor: pointer;
        font-size: 1rem;
    }

    .ordenar__option {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .main {
    margin: 15em 0 0 0;
}
    .content__carteras {
        display: grid;
        grid-template-areas:
            "manu menu menu"
            "caja2 caja2 caja2"
            "caja2 caja2 caja2";
        padding: 1em 0em;
    }

    .carteras__menu {
        grid-area: menu;
        grid-column: 1/2;
        cursor: pointer;
        width: 40%;
    }

    .caja1 {
        grid-area: caja1;
        width: 100%;
        max-width: 240px;
        position: fixed;
        top: 20em;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 1;
        background-color: var(--color-menu);
        padding: 1em;
        transition: transform .3s;
        transform: translateX(-110%);
    }
    .caja2 {
    grid-area: caja2;
    padding: 1em;
}

    .menu__caja1--show{
        transform: unset;
        width: 100%;
        border-radius: 0 4px 0 4px;
    }

    .caja1__title {
        font-size: 1.2rem;
        margin: 0 0 1.1em 0;
    }

    .categorias {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .categorias__title,
    .color__title {
        margin: 0 0 1em 0;
        font-size: 1.1rem;
    }

    .color {
        width: 100%;
        padding: 0;
    }

    .categorias__link {
        color: #000;
        font-size: 1rem;
    }

    .categorias::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: relative;
        left: 0;
        bottom: 0;
        margin: 2.1em 0;
        background-color: var(--color-separador);
    }

    .color__title {
        margin: 0 0 1em 0;
    }

    .color__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1em;
    }

    .color__select {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .color__filter {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .menu__navegacion__link,
    .menu__navegacion__name,
    .ordenar__label {
        font-size: .8rem;
    }

    .container__products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: max-content;
        gap: 1em;
    }

    .card__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1em;
        width: 100%;
        height: 100%;
    }

    .product__show {
        width: 250px;
        height: 300px;
    }

    .product__title {
        font-size: 1.2rem;
    }

    .product__price {
        color: var(--color-price);
        font-weight: 500;
        font-size: 1rem;
        padding: 0;
    }

    .product__ver {
        padding: 1em 2em;
        background-color: var(--blanco);
        color: var(--bg-boton);
        font-size: 1rem;
    }

    .button__span:nth-child(1) {
        width: 100%;
        height: 1px;
        top: 0;
        left: -100%;
    }

    .button__span:nth-child(2) {
        width: 100%;
        height: 1px;
        bottom: 0;
        right: -100%;
    }

    .button__span:nth-child(3) {
        width: 1px;
        height: 100%;
        left: 0;
        bottom: -100%;
    }

    .button__span:nth-child(4) {
        width: 1px;
        height: 100%;
        top: -100%;
        right: 0;
    }

    .paginacion-productos {
        margin-top: 7em;
        width: 100%;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        font-size: 1rem;
    }

    .paginacion-ul>li {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #000000;
        background-color: #fff;
    }

    .paginacion-ul>li.paginacion-li-active,
    .paginacion-ul>li.paginacion-li-active a {
        background-color: var(--bg-boton);
        color: #FFFFFF;
        max-width: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        /* font-size: 1rem; */
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        max-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-solid,
    .fas {
        font-weight: 900;
        font-size: 1rem;
    }

    .ordenar__select {
        margin: 0 0 0 1em;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-border-caja);
        cursor: pointer;
        font-size: 1rem;
    }

    .ordenar__option {
        font-size: 1rem;
    }
}

@media (min-width: 960px) {
    .main {
    margin: 16em 0 0 0;
}
    .content__carteras {
        display: grid;
        grid-template-areas:
            "manu menu menu"
            "caja2 caja2 caja2"
            "caja2 caja2 caja2";
        padding: 2em 0 3em;
    }

    .carteras__menu {
        grid-area: menu;
        grid-column: 1/2;
        cursor: pointer;
        width: 40%;
    }

    .caja1 {
        grid-area: caja1;
        width: 100%;
        max-width: 240px;
        position: fixed;
        top: 22em;
        left: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 1;
        background-color: var(--color-menu);
        padding: 1em;
        transition: transform .3s;
        transform: translateX(-110%);
    }
    .caja2 {
    grid-area: caja2;
    grid-column: 2/4;
    padding: 1em 2em;
    width: 100%;
    max-width: 100%;
}

    .menu__caja1--show{
        transform: unset;
        width: 100%;
        border-radius: 0 4px 0 4px;
    }

    .caja1__title {
        font-size: 1.2rem;
        margin: 0 0 1.1em 0;
    }

    .categorias {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .categorias__title,
    .color__title {
        margin: 0 0 1em 0;
        font-size: 1.1rem;
    }

    .color {
        width: 100%;
        padding: 0;
    }

    .categorias__link {
        color: #000;
        font-size: 1rem;
    }

    .categorias::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: relative;
        left: 0;
        bottom: 0;
        margin: 2.1em 0;
        background-color: var(--color-separador);
    }

    .color__title {
        margin: 0 0 1em 0;
    }

    .color__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1em;
    }

    .color__select {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .color__filter {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .menu__navegacion__link,
    .menu__navegacion__name,
    .ordenar__label {
        font-size: .8rem;
    }

    .container__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: max-content;
        gap: 1em;
        width: 100%;
    }

    .card__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4em;
    }

    .product__show {
        width: 280px;
        height: 280px;
    }

    .product__title {
        font-size: 1.2rem;
    }

    .product__price {
        color: var(--color-price);
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5em 0;
    }

    .product__ver {
        padding: 0.8em 2em;
        background-color: var(--blanco);
        color: var(--bg-boton);
        font-size: 1rem;
    }

    .button__span:nth-child(1) {
        width: 100%;
        height: 1px;
        top: 0;
        left: -100%;
    }

    .button__span:nth-child(2) {
        width: 100%;
        height: 1px;
        bottom: 0;
        right: -100%;
    }

    .button__span:nth-child(3) {
        width: 1px;
        height: 100%;
        left: 0;
        bottom: -100%;
    }

    .button__span:nth-child(4) {
        width: 1px;
        height: 100%;
        top: -100%;
        right: 0;
    }

    .paginacion-productos {
        margin-top: 7em;
        width: 100%;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        font-size: 1rem;
    }

    .paginacion-ul>li {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #000000;
        background-color: #fff;
    }

    .paginacion-ul>li.paginacion-li-active,
    .paginacion-ul>li.paginacion-li-active a {
        background-color: var(--bg-boton);
        color: #FFFFFF;
        max-width: 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        /* font-size: 1rem; */
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        max-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-solid,
    .fas {
        font-weight: 900;
        font-size: 1rem;
    }

    .ordenar__select {
        margin: 0 0 0 1em;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-border-caja);
        cursor: pointer;
        font-size: 1rem;
    }

    .ordenar__option {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .main {
    margin: 17em 0 0 0;
}
    .content__carteras {
        padding: 2em 1em 3em;
        display: grid;
        grid-template-areas:
            "caja1 caja2"
            "caja1 caja2";
    }
    .carteras__menu {
    grid-area: menu;
    grid-column: 1/2;
    cursor: pointer;
    display: none;
}
    .caja1 {
    grid-area: caja1;
    width: 65%;
    max-width: unset;
    position: unset;
    top: 20em;
    left: 0;
    bottom: 0;
    overflow-y: unset;
    z-index: 1;
    background-color: unset;
    padding: 1em;
    transition: transform .3s;
    transform: unset;
}

    .caja1__title {
        font-size: 1.2rem;
        margin: 0 0 1.1em 0;
    }

    .categorias {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .categorias__title,
    .color__title {
        margin: 0 0 1em 0;
        font-size: 1.1rem;
    }

    .color {
        width: 100%;
        padding: 0;
    }

    .categorias__link {
        color: #000;
        font-size: 1rem;
    }

    .categorias::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: relative;
        left: 0;
        bottom: 0;
        margin: 2.1em 0;
        background-color: var(--color-separador);
    }

    .color__title {
        margin: 0 0 1em 0;
    }

    .color__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1em;
    }

    .color__select {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .color__filter {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .menu__navegacion__link,
    .menu__navegacion__name,
    .ordenar__label {
        font-size: .8rem;
    }

    .container__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: min-content;
        gap: 1em;
    }

    .card__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4em;
    }

    .product__show {
        width: 230px;
        height: 230px;
    }

    .product__title {
        font-size: 1.2rem;
    }

    .product__price {
        color: var(--color-price);
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5em 0;
    }

    .product__ver {
        padding: 0.8em 2em;
        background-color: var(--blanco);
        color: var(--bg-boton);
        font-size: 1rem;
    }

    .button__span:nth-child(1) {
        width: 100%;
        height: 1px;
        top: 0;
        left: -100%;
    }

    .button__span:nth-child(2) {
        width: 100%;
        height: 1px;
        bottom: 0;
        right: -100%;
    }

    .button__span:nth-child(3) {
        width: 1px;
        height: 100%;
        left: 0;
        bottom: -100%;
    }

    .button__span:nth-child(4) {
        width: 1px;
        height: 100%;
        top: -100%;
        right: 0;
    }

    .paginacion-productos {
        margin-top: 2em;
        width: 100%;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        font-size: 1.1rem;
    }

    .paginacion-ul>li {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #000000;
        background-color: #fff;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        max-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-solid,
    .fas {
        font-weight: 900;
        font-size: 1.1rem;
    }

    .ordenar__select {
        margin: 0 0 0 1em;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-border-caja);
        cursor: pointer;
        font-size: 1rem;
    }

    .ordenar__option {
        font-size: 1rem;
    }
}

@media (min-width: 1600px) {
    .main {
    margin: 18em 0 0 0;
}
    .content__carteras {
        padding: 3em 8em 5em;
        display: grid;
        grid-template-areas:
            "caja1 caja2 caja2"
            "caja1 caja2 caja2";
    }
    .carteras__menu {
    grid-area: menu;
    grid-column: 1/2;
    cursor: pointer;
        display: none;
}
    .caja1 {
    grid-area: caja1;
    width: 65%;
    max-width: unset;
    position: unset;
    top: 20em;
    left: 0;
    bottom: 0;
    overflow-y: unset;
    z-index: 1;
    background-color: unset;
    padding: 1em;
    transition: transform .3s;
    transform: unset;
}

    .caja1__title {
        font-size: 1.3rem;
        margin: 0 0 1.1em 0;
    }

    .categorias {
        display: flex;
        flex-direction: column;
        padding: 0 1em;
    }

    .categorias__title,
    .color__title {
        margin: 0 0 1em 0;
        font-size: 1.2rem;
    }

    .color {
        width: 100%;
        padding: 0 1em;
    }

    .categorias__link {
        color: #000;
        font-size: 1.1rem;
    }

    .categorias::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: relative;
        left: 0;
        bottom: 0;
        margin: 2.1em 0;
        background-color: var(--color-separador);
    }

    .color__title {
        margin: 0 0 1em 0;
    }

    .color__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .color__select {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .color__filter {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .menu__navegacion__link,
    .menu__navegacion__name,
    .ordenar__label {
        font-size: .9rem;
    }

    .container__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: min-content;
        gap: 1em;
    }

    .card__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4em;
    }

    .product__show {
        width: 250px;
        height: 250px;
    }

    .product__title {
        font-size: 1.3rem;
    }

    .product__price {
        color: var(--color-price);
        font-weight: 500;
        font-size: 1.1rem;
        padding: 0.5em 0;
    }

    .product__ver {
        padding: 0.8em 2em;
        background-color: var(--blanco);
        color: var(--bg-boton);
        font-size: 1.1rem;
    }

    .button__span:nth-child(1) {
        width: 100%;
        height: 1px;
        top: 0;
        left: -100%;
    }

    .button__span:nth-child(2) {
        width: 100%;
        height: 1px;
        bottom: 0;
        right: -100%;
    }

    .button__span:nth-child(3) {
        width: 1px;
        height: 100%;
        left: 0;
        bottom: -100%;
    }

    .button__span:nth-child(4) {
        width: 1px;
        height: 100%;
        top: -100%;
        right: 0;
    }

    .paginacion-productos {
        margin-top: 2em;
        width: 100%;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        font-size: 1.1rem;
    }

    .paginacion-ul>li {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #000000;
        background-color: #fff;
    }

    ul>li.paginacion-li-active a {
        background-color: rgb(4, 77, 185);
        color: #FFFFFF;
        max-width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-solid,
    .fas {
        font-weight: 900;
        font-size: 1.1rem;
    }

    .ordenar__select {
        margin: 0 0 0 1em;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-border-caja);
        cursor: pointer;
        font-size: 1.1rem;
    }

    .ordenar__option {
        font-size: 1rem;
    }
}