:root{
    --bg-container: #3333332e;
    --borderInput-color: #8F8D8D;
    --leyend-color: #333;
}

.main__contacto{
    width: 95%;
    /* background: var(--bg-container); */
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "mapa         mapa         mapa         mapa"
    "mapa         mapa         mapa         mapa"
    "formContacto formContacto infoContacto infoContacto"
    "formContacto formContacto infoContacto infoContacto";
    border-radius: 20px 20px 0 0;
    /* overflow: hidden; */
}

.mapa{
    grid-area: mapa;
    min-height: max-content;
    overflow: hidden;
    height: 200px;
}

.contacto__formulario{
    grid-area: formContacto;
    box-shadow: -8px 50px 30px 30px #d0cdcd66;
}

.mapa__top{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px 20px 0 0;
}

.contacto__information{
    grid-area: infoContacto;
}

.contacto__formulario,
.contacto__information{
    padding: 1.1em 1.2em;
    height: 100%;
}

.contacto__title{
    font-size: 1.3em;
    padding: 0 0 1em 0;
}

.contacto__title--color{
    color: #fff;
}

.contacto__paragraph,
.group__label{
    font-size: .8em;
    padding: 0 0 2em 0;
}

.formulario{
    display: grid;
    gap: 1.3em;
    grid-template-areas: 
    "nombres apellidos"
    "celular correo"
    "mensaje mensaje"
    ".       btnEnviar";
}

.group1{
    grid-area: nombres;
}
.group2{
    grid-area: apellidos;
}
.group3{
    grid-area: celular;
}
.group4{
    grid-area: correo;
}
.group5{
    grid-area: mensaje;
}
.group6{
    grid-area: btnEnviar;
    display: flex;
    justify-content: flex-end;
}

.group__input{
    width: 100%;
    border: 1px solid var(--borderInput-color);
}

.group__input,
.mensaje{
    margin: 1em 0 0 0;
    padding: 1em 1.1em;
    font-size: .9em;
    
}

.mensaje{
    width: 100%;
}

.group__input,
.group__enviar,
.mensaje{
    border-radius: 4px 0 4px 0;
    outline: none;
}

.group__input,
.group__enviar{
    height: 50px;
}

.group__enviar{
    width: 50%;
    border: 1px solid var(--borderInput-color);
    cursor: pointer;
}

.contacto__information{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 auto;
    min-height: max-content;
    background-image: linear-gradient(to bottom, #000000ee, #0000007b),
    url('../img/jpg/fondo.jpg');
    background-size: cover;
}

.contacto__body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 2.5em;
}

.group{
    width: 100%;
    margin: 0 0 1.3em 0;
}

.group__label--info{
    padding: 0;
    color: var(--leyend-color);
    font-weight: 700;
}

.group__label{
    display: block;
}

.group__leyend{
    width: 100%;
    color: #fff;
    font-weight: 500;
}

.group__leyend--hover::after{
    content: "";
    display: block;
    width: 50%;
    margin-top: .1em;
}

.group__leyend--hover:hover::after{
    border-bottom: 2px solid #fff;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 1.3em;
}

.figure__link__icon{
    font-size: 1.6em;
    color: #fff;
}





