:root{
    --color1: #41436a;
    --color2: #974063;
    --color3: #f13255;
    --color4: #ff9677;
    --color-opacity: #d8437f71;
    --blanco: #fff;
    --gris: #e0e0e0;
}

.mySlides {
    display: none
}
.mySlides img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    min-width: 1000px;
}

/* nextslider & previous buttons */
.prev,
.nextslider {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "nextslider button" to the right */
.nextslider {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.nextslider:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .nextslider,
    .text {
        font-size: 11px;
    }
}

/* PRINCIPAL PRODUCTOS */
.principal__productos{
    margin: 7em 0;
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}
.principal__productos--title p{
    text-align: center;
    font-weight: 700;
    font-size: 1.8em;
}

.principal__productos--title p,
.oferece__title p{
    margin-bottom: 1em;
    color: var(--color1);
}

.principal__productos--title p::after,
.oferece__title p::after{
    content: "";
    display: block;
    width: 3%;
    height: 3px;
    background-color: var(--color1);
    position: relative;
    bottom: 0;
    margin: .3em auto 0;
}

.principal__productos--lista{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
.principal__productos--lista p{
    font-weight: 700;
    font-size: 1.8em;
    color: var(--color4);
}

.product__list--center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    border-radius: 4px;
}

/* .leyend1::after{
    content: "CARTERAS";
}
.leyend2::after{
    content: "MORRALES";
}
.leyend3::after{
    content: "MOCHILAS";
}
.leyend4::after{
    content: "BOLSOS";
}
.leyend5::after{
    content: "BOLSOS";
} */
.product__leyend{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.product__leyend::after{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-opacity);
    color: var(--blanco);
    clip-path: circle(0 at center);
    transition: clip-path .8s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.product__leyend:hover::after{
    clip-path: circle(100% at center);
}

.product__enlace{
    width: 100%;
    height: 100%;
}

.product__img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* PRINCIPAL OFRECE */
.principal__ofrece{
    margin: 3em 0;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    gap: 50px;
}
.ofrece__opcion{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}
.ofrece__opcion--grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.opcion__pago--grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.opcion--center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.opcion--center img{
    width: 70px;
}
.oferece__title p{
    font-weight: 600;
    font-size: 1.5em;
}
.opcion__parrafo p{
    font-size: 1.2em;
}


/* SLIDER OPINIONES */
/* .container{
    width: 90%;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
} */

.opiniones{
    text-align: center;
    margin-top: 5em;
}

.opiniones__leyend{
    margin: 0;
}

.slider{
    background-color: var(--blanco);
    padding: 40px 0;
}

.principal__opiniones{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 2em 0;
}

.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: var(--blanco);
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider__texts{
    max-width: 600px;
}

.subtitle{
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.slider__review{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.7;
}

.slider__img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slider__arrow{
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-of-type(2){
    justify-self: end;
}

@media (max-width: 330px){

    header{
        /* width: inherit; */
        max-width: inherit;
    }

    .navbar {
        /* display: flex; */
    }

    .navbar-center{
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: inherit; */
        /* width: 30%; */
        /* margin: inherit; */
    }

    .horario{
        /* height: 10em; */
    }

    .container {
        /* height: 120px; */
    }

    .content{
        /* padding: 0 1em; */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* gap: 3em; */
    }

    .txt{
        /* font-size: 2.2rem; */
    }

    .slider{
        margin-top: 21em;
    }

    .slideshow-container{
        max-width: inherit;
        height: 100%;
    }

    .principal__productos--lista{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }

    .category1{
        grid-row: 1/3;
    }

    .category2{
        grid-row: 3/5;
    }

    .category3{
        grid-row: 5/7;
    }

    .category4{
        grid-row: 7/9;
    }

    .product__img{
        width: 80%;
        height: 100%;
    }

    .product__list--center {
        height: 900px;
    }

    .principal__productos--title p,
    .oferece__title p{
        font-size: 4rem;
    }

    .whatsapp{
        width: 100%;
        max-width: 100px;
        height: 100px;
        margin: 0 1em 0;
    }

    .whatsapp img{
        /* width: 100%; */
    }

    .menu__img{
        /* width: 100px; */
    }

    .logo-enlace{
        /* font-size: 2.3rem; */
    }

    .cuenta__img{
        width: 100px;
    }

    .nav-item a{
        /* font-size: 2.3rem; */
    }

    .search{
        /* justify-content: end; */
        /* position: relative;
        inset: 0;
        height: 90px;
        width: 100%;
        margin: 0 auto; */
    }

    .search-input{
        /* display: none; */
    }

    .search-boton{
        /* position: absolute; */
        /* inset: 0; */
        /* width: 100%; */
        /* max-width: 70px; */
        /* height: 90px; */
    }

    .search-icon{
        /* width: 100%; */
    }

    .ofrece__opcion--grid{
        grid-template-columns: 1fr;
        gap: 8em;
    }

    .opcion--center img{
        width: 18em;
    }

    .opcion__parrafo p{
        font-size: 4rem;
    }

    .oferece__title p{
        padding: 1em 0 2em;
    }

    .opcion__pago--grid{
        grid-template-columns: 1fr;
        gap: 8em;
    }

    .opcion__parrafo p{
        padding: 1em 0;
    }

    .opiniones__leyend{
        font-size: .8rem;
    }

    .principal__opiniones{
        gap: 6em;
    }

    .subtitle{
        font-size: 4rem;
        width: 100%;
    }

    .slider__review{
        font-size: 2.2rem;
    }

    .slider__body {
        display: flex;
        flex-direction: column-reverse;
        gap: 2em;
        width: 100%;
    }

    .slider__texts{
        max-width: 800px;
    }

    .slider__img{
        width: 500px;
        height: 500px;
    }

    .slider__arrow{
        width: 90px;
        height: 90px;
    }

    .footer-center{
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
    }

    .footer-logo{
        display: flex;
        justify-content: space-around;
    }

    .footer-siguenos{
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* gap: 3em; */
    }

    .redes-sociales li a {
        position: relative;
        display: block;
        /* width: 40px; */
        /* height: 40px; */
        text-align: center;
        line-height: 63px;
        background: var(--color3);
        border-radius: 50%;
        font-size: 30px;
        color: var(--redes-sociales);
        transition: .5s;
    }

    .redes-icon{
        /* font-size: 1.3rem; */
    }

    .logo-img{
        /* width: 80px; */
    }

    .caja-footer{
        /* margin-bottom: 2.3em; */
    }

    .caja-footer ul{
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* gap: 2.8em; */
    }

    .caja-footer{
        /* display: grid; */
        /* grid-auto-flow: column; */
        /* gap: 2em; */
    }

    .inicio__title{
        /* font-size: 2.5rem; */
    }

    /* .caja-footer ul li,
    .footer__link{
        font-size: 1.6rem;
    } */
}