:root{
    --color-separador: #605c5c;
    --color-header: #8e8d8d;
    --redes-sociales: #333;
    --color-negro: #000;
    --bg-button: #f8637ece;
    /* PALETA 1 */
    --color1: #41436a;
    /* --color2: #974063; */
    --color3: #f13255;
    --color4: #ff9677;
    --blanco: #fff;
    --gris: #e0e0e0;
}

.cuenta-header{
    color: #ffffff;
    background-color: var(--color1);
    text-align: center;
    width: 100%;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8em;
}
.cuenta-header-title p{
    font-size: 3.8rem;
    font-weight: 700;
}

.cuenta__link,
.cuenta__section{
    color: var(--blanco);
    text-transform: uppercase;
    font-size: .8rem;
}

.cuenta__link:hover{
    color: var(--color3);
    transition: color .3s;
}

.cuenta__link::after{
    content: "/";
    display: inline-block;
    padding: 0 8px;
}

.content-cuenta{
    padding: 1.5em 1em 5em;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2em;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.cuenta__leyend{
    color: var(--color1);
}

.header-cuenta p{
    font-size: 2.25em;
    font-weight: 600;
}
.form-cuenta, .modulo-cuenta-registrar, .modulo-cuenta-iniciar{
    background-color: #F6F6F6;
    padding: 1em;
}
.campos-placeholder{
    position: relative;
    margin-bottom: 2em;
}
/* .campos-placeholder input{
    padding: 0.5em;
} */
.campos-placeholder input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
}

.campos-placeholder input:focus {
    outline:none;
}
.campos-placeholder label{
    color:#000;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events: none;
    left:20px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.campos-placeholder input:focus ~ label,
.campos-placeholder input:valid ~ label {
    top:-20px;
    left: 0px;
    font-size:14px;
}
.campos-form{
    margin-top: 2em;
    margin-right: 2em;
}

.button-form{
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn1 button::after{
    content: "Iniciar sesión";
}
.btn2 button::after{
    content: "Registrarse";
}

.button-form button::after{
    position: absolute;
    inset: 0;
    color: var(--blanco);
    font-weight: 700;
    background-color: var(--bg-button);
    clip-path: circle(0 at center);
    transition: clip-path .7s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-form button:hover::after{
    clip-path: circle(100% at center);
}

.button-form button{
    background-color: var(--color1);
    border:none;
    padding: 1em;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}

.cuenta-paragraph p, .modulo-parrafo p{
    font-size: 1.25em;
}
.button-modulo{
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
}


.button-modulo button{
    border:none;
    padding: 1em;
    cursor: pointer;
    color: var(--color1);
    transition: color .5s;
}

/* EFECTO BUTTON */

.button{
    position: relative;
    overflow: hidden;
}

.button:hover{
    color: var(--color3);
    transform: scale(1.1);
    transition: transform .3s;
}

.button__span{
    position: absolute;
    background-color: var(--color3);
    transition: .3s;
}

.button__span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}
.button__span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}
.button__span:nth-child(3){
    width: 1px;
    height: 100%;
    left: 0;
    bottom: -100%;
}
.button__span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

.button:hover .button__span:nth-child(1){
    left: 0;
}
.button:hover .button__span:nth-child(2){
    right: 0;
}
.button:hover .button__span:nth-child(3){
    bottom: 0;
}
.button:hover .button__span:nth-child(4){
    top: 0;
}

/* ---------------------------------- */