.detail{
    width: 90%;
    padding: 1.3em 2em;
    margin: 0 auto;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.principal__show{
    grid-column: 1/4;
}

.principal__image{
    width: 100%;
    max-width: 600px;
    height: 600px;
    padding: 1em 1.3em;
}

.principal__circle{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.principal__icon{
    grid-column: 1/-1;
    grid-row: 1/3;
    justify-self: end;
    width: 35px;
}

.principal__img{
    grid-column: 1/-1;
    grid-row: 2/-1;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.principal__detail{
    grid-column: 4/-1;
}

.detail__content{
    margin-top: 1em;
}

.detail__header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.detail__title{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.detail__price{
    font-size: 2.2rem;
    font-weight: 500;
}

.detail__body{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.detail__body__title,
.detail__name{
    font-size: 1.2rem;
}

.stock__text,
.detail__body__title,
.detail__name{
    font-weight: 500;
}

.detail__item{
    font-weight: 700;
}

.stock{
    display: flex;
    align-items: center;
    gap: .7em;
}

.stock__number{
    font-size: 1.2rem;
}

.detail__extra{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.detail__paragraph,
.care__item{
    font-weight: 500;
}

.detail__references{
    color: #333;
}

.detail__references:hover{
    border-bottom: 1px solid #333;
}

.care__item{
    list-style: disc;
    margin: 0 1em 0;
}

.detail__name{
    cursor: pointer;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
}

.detail__paragraph,
.product__care{
    line-height: 1.5em;
    padding: .8em 0 0;
}

.detail__item{
    --clipy: polygon(0 0, 100% 0%, 100% 0, 0 0);
}

.detail__paragraph{
    clip-path: var(--clipy);
    transition: clip-path .3s;
}

.detail__item:checked{
    --clipy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}