.productos-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
}
.productos-title p {
    font-weight: 600;
    font-size: 2em;
}
.opc-productos-n{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new-producto{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
}
.new-producto button{
    background-color: #3B9244;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
    gap: 2px;
}
.mostrar-producto{
    background-color: #E8D106;
    padding: 0 1em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
}
#table-productos td, #table-productos th{
    text-align: center;
}
.estadostock, .estadoagotado{
    padding: 0.2em 1em;
    color: #ffffff;
    border: none;
}
.estadostock{
    background-color: #3B9244;
}
.estadoagotado{
    background-color: #FF1313;
}
.modal-registro-nuevo-fondo{
    background-color: rgba(255, 255, 255, 0.473);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.modal-registro-nuevo{
    background-color: #F6F6F6;
    border-radius: 10px;
}
.modal-registro-nuevo-close{
    cursor: pointer;
}
.modal-new-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 5em;
    gap: 5em;
    border-bottom: 1px solid #000000;
}
.modal-new-header-parrafo p{
    font-size: 2em;
}
.form-new-produc{
    padding: 1em 5em;
}
.save-new-produc{
    border-top: 1px solid #000000;
    padding: 1em 5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.save-new-produc button{
    background-color: #1355FF;
    color: #FFFFFF;
    border: none;
    padding: 1em 1.5em;
    cursor: pointer;
}
.campos-new-produc label,
.campos-new-produc input,
.campos-new-produc select{
    outline: none;
    font-size: 1.3em;
    padding: 0.3em;
    margin: 1em 0;
    width: 100%;
}
.campos-new-produc{
    display: grid;
    gap: 2em;
    grid-template-columns: 0.5fr 1fr;
}
.campos-new-produc input.addpimagen,
.campos-new-produc input.addpimagencolor,
.campos-new-produc input.addpimagencategoria{
    display: none;
}
.campos-new-produc label.addpimagen,
.campos-new-produc label.addpimagencolor,
.campos-new-produc label.addpimagencategoria{
    display: block;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
}
.image-table-product{
    max-width: 100px;
}
.labelincolor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input#averagecolor{
    outline: none;
    font-size: 1.3em;
    padding: 0.3em;
    margin: 1em 0;
    width: 50%;
    color: #FFFFFF;
    text-align: center;
}
.text-center{
    width: 100%;
    text-align: center;
}
.paginacion-productos {
    margin-top: 2em;
    width: 100%;
}
ul.paginacion-ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginacion-ul>li{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: 1px solid #4e4e4e;
}
.paginacion-ul>li>a{
    color: #000000;
}
.paginacion-ul>li.paginacion-li-active{
    background-color: rgb(32, 185, 27);
}