/* @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

:root{
    --color-separador: #605c5c;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Secular One', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-size: 16px;


}
*::selection{
    background-color: #54BDE0;
    color: #000;
}
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.main{
    margin-top: 170px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 150px;
    transition: .5s;
    box-sizing: border-box;
    z-index: 10;
}

/* Horario de Atencion */
.horario{
    width: 100%;
    height: 50px;
    background: #333;
}

.content{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.txt{
    font-size: .9rem;
    color: #fff;
    margin: 0 0 0 2em;
}

/* Logo/Inicar sesion/Bolsa */
.container{
    width: 100%;
    height: auto;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2em 0;
}

.logo{
    margin: 0 0 0 30px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img--header{
    width: 50px;
}

.logo-enlace{
    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
}

.cuenta{
    width: 7%;
    position: relative;
    left: 300px;
}

.cuenta-iniciarSesion{
    display: flex;
    justify-content: space-between;
}

.bolsa{
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 0;
}

.icon-container{
    margin: 0 30px 0 0;
}

.icon-container::after{
    content: '';
    width: 1px;
    height: 80%;
    background-color: #000;
    display: block;
    position: relative;
    left: 60px;
    bottom: 40px;
}

.icon-enlace{
    display: flex;
    flex-direction: column;
}

.icon-texto{
    font-size: .8rem;
}

.precio-container{
    margin: auto 0;
}

.precio-enlace{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.precio-texto{
    font-size: .8rem;
    color: #000;
}

/* Barra de navegación */
.navbar{
    width: 100%;
    height: 50px;
    padding: 1rem;
    background-color: #AC78F4;
}

.navbar a{
    color: #ffffff;
}

.navbar-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    width: 10rem;
}

.nav-item a{
    font-weight: 600;
}

.nav-item a:hover{
    color: #47148f;
}

.search{
    width: 35%;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 0 50px 0 0;
}

.search-input{
    width: 100%;
    height: 100%;
    border: 1px solid #47148f;
    border-radius: 3px;
    background: #fff;
    outline: none;
    padding: 0 15px;
    font-size: 1rem;
}

.search-boton{
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    top: 3px;
    right: 30px;
}

/* Footer */
.footer{
    width: 100%;
    padding: 1rem;
    background-color: #33086f;
    color: #ffffff;
    padding: 1rem 5rem;
    position: relative;
}
.footer a{
    color: #ffffff;
}

.footer-datos{
    grid-area: footer-datos;
}

.footer-siguenos{
    grid-area: footer-siguenos;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
}

.copy{
    font-size: .9rem;
    text-align: center;
}

.footer-center{
    display: grid;
    grid-template: 
        "footer-datos footer-siguenos footer-puntos"    auto
        "footer-datos footer-siguenos footer-puntos"    auto/
        500px         auto            300px;
}


.footer-logo{
    font-size: 0.5rem;
    display: flex;
    align-items: center;
}

.logo-img{
    width: 30px;
}

.footer-puntos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.caja-footer{
    margin-top: 1rem;
    line-height: 2;
}

.caja-footer--icons{
    position: relative;
    top: 50px;
}

.redes-sociales{
    display: flex;
    justify-content: center;
}

.redes-sociales a{
    margin-right: 1rem;
}

.redes-icon{
    width: 40px;
}

.derechos-reservados{
    text-align: center;
}

hr{
    margin: 1rem 0;
}


/* PÁGINA TIENDAS */
.container__tiendas{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}
.title__tiendas p{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.tiendas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tiendas__info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tiendas__info--center{
    display: flex;
    align-items: center;
    padding: 0.5em 0;
}
.tiendas__title p{
    font-weight: 600;
    font-size: 25px;
    padding: 0.5em 0;
}
.tiendas__icons{
    width: 30px;
    margin-right: 0.3em;
}

/* Whatsapp */
.whatsapp{
    position: fixed;
    z-index: 5;
    right: -5px;
    bottom: 80px;
    width: 100px;
}
.whatsapp img{
    width: 50px;
}